* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Background */
    --background-default: #F5F4F0;

    /* Border */
    --border-primary: #D9D9D9;

    /* Text */
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    /* Accent */
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;

    /* -------------------- Typography -------------------- */

    --font-family: "Open Sans", sans-serif;

    /* Font Sizes */
    --font-h1: 700 36px/normal var(--font-family);
    /* Bold */
    --font-h2: 700 32px/normal var(--font-family);
    /* Bold */
    --font-h3: 700 28px/normal var(--font-family);
    /* Bold */

    --font-headline: 700 16px/normal var(--font-family);
    /* Bold */
    --font-paragraph: 400 16px/normal var(--font-family);
    /* Regular */
    --font-subtitle: 400 16px/normal var(--font-family);
    /* Italic (peso regular + estilo depois) */
}

body {
    font-family: var(--font-family);
}

main {
    display: flex;
    justify-content: center;
    margin: 5.5rem 5rem;
}

.container {
    max-width: 1120px;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
}